*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background: linear-gradient(90deg, #151822, #0E0F13);
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* hizi ni style za navbar */

.logo{
    width: 140px;
    height: auto;
}
.main-nav{
    background: linear-gradient(180deg, #0E0F13, #151822);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    box-shadow: 2px 2px 6px black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
.navlist{
    display: flex;
    gap: 32px;
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    transition: 0.3s;
}
.navlist li a:hover{
    color: #ff8c1a;
}
.active{
    border-bottom: 2px solid #ff7a00;
    color: #ff8c1a;
}


/* hizi ni style za contact page */

.c-maincontena{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 5%;
}
.c-maincontena form{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-top: 20px;
} 
.c-maincontena h2{
    text-align: center;
    color: #ff7a00;
    font-size: 30px;
    font-weight: 600;
}

.c-animation-text{
    min-width: 200px;
    text-align: center;
    color: #ccc;
    font-size: 20px; 
    position: relative;
    margin-top: 20px;
}
input, textarea{
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 12px;
    margin-bottom: 15ppx;
}
textarea{
    resize: none;
    height: 100px;
}
.btn-main{
    display: flex;
    gap: 20px;
}
button{
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
.email-btn{
    width: 140px;
    color: white;
    background: #ff7a00;
}
.email-btn:hover{
    background: orangered;
    color: #ccc;
    font-weight: bold;
}
.c-phone{
    font-size: 20px;
    font-weight: 600;
    background-image: url("phone.png");
    background-size: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.c-social-links1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 8px;
}
.c-social-links1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 14px;
    border: 1px solid #333;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.c-social-links1 a:hover{
    background: #ffffff;
    color: blue;
}
.social-p{
    margin-top: 75px;
    color: #888;
    font-family: baloo;
}


/* hizi ni style za HOME PAGE */

.h-typing-animation-contena{
    display: flex;
    justify-content: center;
}
.h-typing-animation-contena{
    position: absolute;
    top: 15%;
    color: #ff7a00;
    padding: 2rem;
}
.h-animation-typing{
    font-weight: 300;
    text-align: center;
}
.h-typing-animation-contena .h-animation-typing{
    font: lighter 2.5rem "poppins", sans-serif;
}
.h-typing-animation-contena .h-animation-typing ol{
    list-style: none;
    --height: 3.8rem;
    height:var(--height);
    line-height: var(--height);
    overflow: hidden;
    margin-top: 50px;
}
.h-animation-typing ol li{
    animation: slide-up 12s infinite;
}
.h-animation-typing ol li samp{
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(20deg, cyan, magenta);
    -webkit-background-clip: text;
    white-space: nowrap;
}
@keyframes slide-up{
    0%, 10%{
        transform: translateY(0%);
    }
    15%, 25%{
        transform: translateY(-100%);
    }
    30%, 40%{
        transform: translateY(-200%);
    }
    45%, 55%{
        transform: translateY(-300%);
    }
    60%, 70%{
        transform: translateY(-400%);
    }
    75%, 85%{
        transform: translateY(-500%);
    }
    90%, 100%{
        transform: translateY(-600%);
    }
}
.h-mainh1{
    margin-top: 60px;
    font-size: 30px;
    font-family: baloo;
    font-weight: 600;
    color: white;
    
}
.h-mainh1 b{
    color: #ff7a00;
}
.h-mainh1 span{
    color: blue;
}
.batttani{
    margin: 100px 0 60px;
    
}
.ya{
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 6px;
    margin: 0 10px;
    font-weight: bold;
}
.ya.kwanzaB{
    background: #2a2d35;
    color: #fff;
}
.ya.piliB{
    background: orange;
    color: #000;
}
.g-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #1e3c72 0%, #1e3c72 45%, rgba(30, 60, 114, 0.6) 55%, rgba(30, 60, 114, 0) 65%), url("picha12.jpg");
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.g-small{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.g-small h3{
    font-size: 20px;
}
.secimg{
    width: 40%;
    height: 120px;
    object-fit: cover;
}
.sectgra{
    border: 2px solid black;
    width: 100%;
    border-radius: 8px;
    height: auto;
    padding-bottom: 16px;
}
.h-video{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #1e3c72;
    box-shadow: 2px 2px 4px black,
                -2px -2px 4px black;
    text-align: center;
    background: #2a2d35;
    height: 225px;
    transition: 0.3s;
    
}

.h-video video{
    object-fit: cover;
    border-radius: 6px;
}

.h-video p{
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.h-video:hover{
    transform: translateY(-6px);
}
    
.allmain-graphcs{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px 25px 60px 25px;
    box-shadow: 1px 1px 4px black,
                -1px -1px 4px black;
    margin-top: 5px;
}


.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card{
    background: #000014;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-6px);
}
.card img{
    width: 110%;
    height: 200px;
    object-fit: cover;
}
.card p{
    padding: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.h-product{
    color: #ff7a00;
    font-size: 30px;
    margin-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: 35px;
}
.h-product1{
    text-align: start;
    font-weight: 600;
    font-size: 24px;
    color: #ccc;
}
.h-h2contena{
    display: flex;
    gap: 930px;
}
.h-h2contena p a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.h-h2contena p a:hover{
    color: blue;
}
.allmain-images{
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
     border: 2px solid black;
    border-radius: 30px;
    padding: 25px 25px 25px 25px;
    box-shadow: 1px 1px 4px black,
                -1px -1px 4px black;
    margin-top: 5px;
}
.allmain-images img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s ease;
}
.allmain-images img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.h-product2{
    text-align: start;
    font-weight: 600;
    font-size: 24px;
    color: #ccc;
    margin-top: 20px;
}
.h-h2contena1{
    display: flex;
    gap: 930px;
    margin-top: 20px;
}
.h-h2contena1 p{
    margin-top: 20px;
}
.h-h2contena1 p a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.h-h2contena1 p a:hover{
    color: blue;
}
.footer{
    background: #0e111a;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    padding-bottom: 50px;

}
.footer-content h3{
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 30px;
}
.footer-content p{
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 25px;
}
.social-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}
.social-links a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 14px;
    border: 1px solid #333;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.social-links a:hover{
    background: #ffffff;
    color: blue;
}
.copyright{
    font-size: 16px;
    color: #888;
    padding-top: 15px;
    
}

/*   About page   */

.a-all-details{
    display: flex;
    margin-top: 30px;
    
}

.maneno-detil{
    display: flex;
    flex-direction: column;
}
.maneno-detil h2{
    font-size: 50px;
    color: white;
    font-weight: 600;
    padding-bottom: 40px;
    margin-top: 70px;
}
.maneno-detil h2 b{
    color: #ff7a00;
}
.maneno-detil .p{
    color: white;
    font-weight: bold;
    font-size:  20px;
}
.maneno-detil h3{
    color: white;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.a-icons{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
.a-icon{
    
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 30px;
}
.a-icon p{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.a-icon img{
    object-fit: cover;
    box-shadow: 1px 1px 2px black,
                -1px -1px 2px black;
}
.image-details{
     margin-top: 8px;
     margin-left: 11%;
}
.image-details img{
    width: 380px;
    object-fit: cover;
}
.line{
    border: 1px solid #888;
    border-radius: 50px;
    margin-top: 30px;
    width: 95%;
}
.about-h3{
    color: #888;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.a-boxmain{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.a-box1{
    background: #0E0F13;
    box-shadow: 2px 2px 6px black,
                -2px -2px 6px black;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    text-align: center;
}
.a-box1 h1{
    margin-top: 18%;
    color: #eee;
    font-size: 30px;
}
.a-box1 .p1{
    color: #888;
    font-size: 18px;
    margin-top: 10px;
}
.a-box1 p{
    margin-top: 10px;
}
.a-box1 p a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.a-box1 p a:hover{
    color: blue;
}
.a-social-links1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 30px;
}
.a-social-links1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 14px;
    border: 1px solid #333;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.a-social-links1 a:hover{
    background: #ffffff;
    color: blue;
}
.social-p{
    margin-top: 75px;
    color: #888;
    font-family: baloo;
}


/*    portfolio page     */

.p-nav1{
    margin-top: 70px;
    display: flex;
    gap: 20px;
}
.p-nav1 ul{
    display: flex;
    gap: 32px;
    list-style: none;
    background: linear-gradient(90deg, #191a1d, #505050, #1c1d22);
    width: 380px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black,
                -1px -1px 4px black;
    
}
.p-nav1 ul li{
    margin-left: 16px;
    margin-top: 8px;
}
.p-nav1 ul li a{
    text-decoration: none;
    color: #cccccc;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.p-nav1 ul li a:hover{
    color: #ff8c1a;
}
.p-nav1 .p-active{
    color: #ff8c1a;
}
.p-nav1 hr{
    width: 400px;
    height: 2px;
    border-radius: 50px;
    color: #505050;
    margin-top: 17px;
}


/*        video page     */

.v-video{
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #1e3c72;
    box-shadow: 2px 2px 4px black,
                -2px -2px 4px black;
    text-align: center;
    background: #2a2d35;
    height: 225px;
    transition: 0.3s;
    
}

.v-video video{
    object-fit: cover;
    border-radius: 6px;
}

.v-video:hover{
    transform: translateY(-6px);
}
    
.v-allmain-graphcs{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 20px;
    padding: 25px 25px 20px 25px;
    
}
.v-allmain-graphcs2{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 20px;
    padding: 0px 25px 20px 25px;
    
}
.v-mstali{
    margin-bottom: 20px;
    width: 95%;
    margin-left: 2.7%;
}
.v-social-links1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 30px;
}
.v-social-links1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 14px;
    border: 1px solid #333;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.v-social-links1 a:hover{
    background: #ffffff;
    color: blue;
}
.social-p{
    margin-top: 75px;
    color: #888;
    font-family: baloo;
}


/*     photo page     */


.ph-allmain-images{
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 25px 25px 15px 25px;
    margin-top: 20px;
}
.ph-allmain-images img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s ease;
}
.ph-allmain-images img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.ph-kati2-mstari{
    height: 480px;
}
.ph-chini-mstari{
    width: 95%;
    margin-left: 2.7%;
}
.ph-allmain-images2{
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0px 25px 15px 25px;
    margin-top: 20px;
}
.ph-allmain-images2 img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s ease;
}
.ph-allmain-images2 img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
